

.cardClass {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 0;
    text-align: center;
}

.contactContainer {
    padding: 0 16px;
    padding-bottom: 25px;
}

.cardTitle {
    color: grey;
    font-size: 18px;
}

.cardDescript {
	padding-bottom: 20px;
}

.contactButton {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 3px;
    color: white;
    background-color: #0077B5;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card: a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.contactButton:hover, .card a:hover {
    opacity: 0.7;
}

#aboutUs {
	padding-bottom: 20px;
	padding-left: 20px;
}
