@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);


#registrationcontainer {
  margin: 0;
  padding: 40px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: #21074F;
}