@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

.homepagelayer {
	background-image: url("../img/palmtrees.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 800px;
}
.boxforhomepage {
	margin-top: 75px;
	
}
.searchlandmarkpage {
	background-image: url("../img/sunrise.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 1100px;
}

.searchconatiner {
  	margin: 0 auto;
  	position: relative;
  	font-family: "Roboto", Helvetica, Arial, sans-serif;
  	font-weight: 100;
  	font-size: 12px;
  	line-height: 30px;
  	color: #777; 
  	
}

.searchForm #search-radio-btn {
	color: white;
}
.searchrow{
	position: relative;
	top: 130px;
	width: 100%;
	margin: 0px;
}

.searchForm h1{
	color: white;
}

.searchForm {
	color: black;
	background: rgba(5, 4, 5, 0.5) !important;	
	border-radius: 10px;
}

#search-radio-btn {
	padding-left: 15%;
}
#search-radio-btn input{
	padding-rigth: 10px;
}
.blankbox {
	background: transparent;
}

.panel-table .panel-body{
  padding:0;
}

.panel-table .panel-body .table-bordered{
  border-style: none;
  margin:0;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type {
    text-align:center;
    width: 100px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
  border-right: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
  border-left: 0px;
}

.panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td{
  border-bottom: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr:first-of-type > th{
  border-top: 0px;
}

.panel-table .panel-footer .pagination{
  margin:0; 
}

/*
used to vertically center elements, may need modification if you're not using default sizes.
*/
.panel-table .panel-footer .col{
 line-height: 34px;
 height: 34px;
}

.panel-table .panel-heading .col h3{
 line-height: 30px;
 height: 30px;
}

.panel-table .panel-body .table-bordered > tbody > tr > td{
  line-height: 34px;
}

.eButton {
	border: 1px solid black;
	background-color: white;
	padding: 5px;
	color: #9a9b9d;
}

.eButton:hover {
	border-color: black;
	background-color: #3ba448;
	color: white;
}

.dButton {
	border: 1px solid black;
	background-color: white;
	font-size: 20px;
	padding: 3px;
	color: black;
}

.dButton:hover {
	border: 1px solid black;
	color: white;
	opacity: 1;
	background-color: red;
}

.action {
	background-color: red;
}

.view {
	background-color: blue;
}

.aLine {
	text-align: center;
}

.iButton {
	color: black;
	border-color: black;
}

.create:hover {
	background-color: red;
}

.explore:hover {
	background-color: orange;
}


