body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	background: #FFFFFF;
}

#updatePasswordContainer {
	width: 300px;
	margin: 0 auto;
	position: relative;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 12px;
	line-height: 30px;
	color: #777;

}

.updateP {
	border: 2px solid red;
	border-radius: 13px;
}
.changepassword {
	background-image: url("../img/changepasswordbackground.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	
}

.suggestlandmark {
	background-image: url("../img/addlandmarkbackground.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.mNav {
	z-index: 10;
}

#noticeBar {
	text-align: right;
	position: relative;
	padding-top: 10px;
	padding-bottom: 3px;
	padding-right: 10px;
	color: white;
	background-color: #FCB12F;
}

#wHeader {
	font-size: 20px;
	text-align: left;
	padding-left: 10px;
}

#fHeader {
	color: white;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

#map {
	border: 2px solid black;
	height: 200px;
	width: 300px;
}

#mapP{
	height: 400px;
	width: auto;
}

#mAnchor {
	padding: 50px;
	font-size: 0px;
	color: white;
}

#lHeader {
	padding-right: 8px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.regBox {
	color: black;
}

#adminControls {
	margin-top: 30px;
	text-align: center;
	color: white;
	font-size: 15px;
	background: #2d2d2e;
}

.affix {
	top: 0;
	width: 100%;
}

.affix + .container-fluid {
	padding-top: 300px;
}

.loginTab {
	width: 200px;
	padding: 30px;
}

.loginTab button {
	color: #736f72;
}

.mAnchor {
	position: absolute;
}

.test {
	background: none;
	color: black;
}

.test:hover {
	border-radius: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	color: #f90210;
	background: #FFFFFF;
	border-color: #000000;
}

#hButton {
	padding-right: 40px;
	border-right: 1px solid grey;
}

.uOption {
	
}

footer {
	bottom: 0px;
	width: 100%;
	height: 100px; /* Height of the footer */
	font-size: 12px;
	color: white;
	padding-top: 20px;
	text-align: center;
	margin-top: 25px;
	background-color: #3f3f3f;
}

.footertext a {
	position: center;
	width: 100%;
	height: 60px; /* Height of the footer */
	font-size: 15px;
	color: white;
	text-align: center;
	background-color: #736f72;
	font-weight: bold;
}

.footertext.a:link {
	text-decoration: none;
	color: white !important;
}

#signupbutton {
	width: 50%;
	height: 34px;
}

.signin {
	color: white;
}

.signin:hover {
	font-weight: bold;
	color: white;
}

.spLink {
	color: white;
	text-weight: bold;
	text-decoration: none;
}

.sBox {
	background-color: #378D3D;
	padding: 10px;
	border: 1px solid black;
	border-radius: 20px;
}

#landmarkName {
	color: black;
	margin-bottom: 10px;
}

.bullet {
	padding-left: 20px;
}

/* Text colors */
.text-color-white {
	color: #FFFFFF;
}

.text-color-black {
	color: #000000;
}

.text-color-theme {
	color: #6f5499;
}

/* Background colors */
.theme-bg {
	background: #fcb12f;
}

.bg-black {
	background: #000000;
}

.secondary-bg {
	background: #f0ecf6;
}

/* Margin */
.margin-bottom-0 {
	margin-bottom: 0 !important;
}

.margin-bottom-10 {
	margin-bottom: 10px !important;
}

.margin-bottom-15 {
	margin-bottom: 15px !important;
}

.margin-bottom-20 {
	margin-bottom: 20px !important;
}

.margin-bottom-30 {
	margin-bottom: 30px !important;
}

.margin-bottom-40 {
	margin-bottom: 40px !important;
}

.margin-bottom-50 {
	margin-bottom: 50px !important;
}

.margin-bottom-60 {
	margin-bottom: 60px !important;
}

.margin-bottom-70 {
	margin-bottom: 70px !important;
}

.margin-bottom-80 {
	margin-bottom: 80px !important;
}

.margin-bottom-90 {
	margin-bottom: 90px !important;
}

.margin-bottom-100 {
	margin-bottom: 100px !important;
}

.margin-bottom-120 {
	margin-bottom: 120px !important;
}

.margin-right-0 {
	margin-right: 0 !important;
}

.margin-right-5 {
	margin-right: 5px !important;
}

.margin-right-10 {
	margin-right: 10px !important;
}

/* Padding surround */
.padding-0 {
	padding: 0px !important;
}

.padding-30 {
	padding: 30px !important;
}

.padding-50 {
	padding: 40px !important;
}

/* Buttons */
.btn {
	letter-spacing: 1px;
	text-decoration: none;
	background: none;
	-moz-user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 0;
	cursor: pointer;
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
	white-space: nowrap;
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;
	text-transform: uppercase;
	border: 3px solid;
	padding: 8px 20px;
}

.btn-outlined {
	border-radius: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.btn-outlined.btn-white {
	background: none;
	color: #FFFFFF;
	border-color: #FFFFFF;
}

.btn-outlined.btn-white:hover, .btn-outlined.btn-white:active {
	color: #fcb12f;
	background: #FFFFFF;
	border-color: #FFFFFF;
}

.btn-xs {
	font-size: 11px;
	line-height: 14px;
	border: 1px solid;
	padding: 5px 10px;
}

.btn-sm {
	font-size: 12px;
	line-height: 16px;
	border: 2px solid;
	padding: 8px 15px;
}

.btn-lg {
	font-size: 18px;
	line-height: 22px;
	border: 4px solid;
	padding: 13px 40px;
}

.registrationbox {
	margin: auto;
	text-align: center;
	width: 250px;
	display: block;
	background-color: #fcb12f;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	color: white;
}

.footerContent {
	vertical-align: middle;
}

.registrationbox h3 {
	font-style: strong;
	color: white;
	padding-top: 25px;
}

bs-calltoaction {
	position: relative;
	width: auto;
	padding: 15px 25px;
	border: 1px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}

.bs-calltoaction>.row {
	display: table;
	width: calc(100% + 30px);
}

.bs-calltoaction>.row>[class^="col-"], .bs-calltoaction>.row>[class*=" col-"]
	{
	float: none;
	display: table-cell;
	vertical-align: middle;
}

.cta-contents {
	padding-top: 10px;
	padding-bottom: 10px;
}

.cta-title {
	margin: 0 auto 15px;
	padding: 0;
}

.cta-desc {
	padding: 0;
}

.cta-desc p:last-child {
	margin-bottom: 0;
}

.cta-button {
	padding-top: 10px;
	padding-bottom: 10px;
}

@media ( max-width : 991px) {
	.bs-calltoaction>.row {
		display: block;
		width: auto;
	}
	.bs-calltoaction>.row>[class^="col-"], .bs-calltoaction>.row>[class*=" col-"]
		{
		float: none;
		display: block;
		vertical-align: middle;
		position: relative;
	}
	.cta-contents {
		text-align: center;
	}
}

.bs-calltoaction.bs-calltoaction-primary {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}

.thumbnail {
	position: relative;
	overflow: hidden;
}

.caption {
	position: absolute;
	top: 0;
	right: 0;
	background: white;
	opacity: 0.90;
	width: 100%;
	height: 100%;
	padding: 0%;
	display: none;
	text-align: center;
	color: black !important;
	z-index: 2;
}

.sOverlay {
	padding-left: 70px;
	padding-right: 70px;
}

.sButton {
	width: 150px;
	margin-top: 30px;
	background: none;
	color: #837777;
	border-color: #FFFFFF;
}

.sButton:hover {
	border-radius: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	color: #fcb12f;
	background: #FFFFFF;
	border-color: #000000;
}

.hOverlay {
	color: white;
	display: inline-block;
	background: #311856;
	padding: 10px;
	border: 2px solid white;
}

/* HOME PAGE SLIDE SHOW */



.carousel-caption {
	background-color: #21074f;
	opacity: 0.8;
	padding: 10px;
	border: 3px solid #fcb12f;
	border-radius: 200px;
	width: 500px;
	margin: 0 auto;
}

.carousel-caption h4 {
	font-weight: bold;
	font-size: 36px;
	color: #fcb12f;
}

.carousel-caption p {
	margin-top: 5px;
	font-size: 18px;
	margin-bottom: 18px;
	font-weight: bold;
	line-height: 30px;
	color: #fcb12f
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
} 
.carousel-fade .carousel-inner .active {
	opacity: 1;

}

.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right
	{
	left: 0;
	opacity: 0;
	z-index: 1;
}

.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right
	{
	opacity: 1
}

.carousel-fade .carousel-control {
	z-index: 2
}

@media only screen and (max-width:767px) {
	h1 {
		font-size: 30px !important
	}
	.carousel-caption {
		padding: 15px;
		text-align: center;
	}
	.carousel-caption h4 {
		font-size: 30px
	}
	.carousel-caption p {
		margin-top: 10px;
		font-size: 10px;
		margin-bottom: -10px;
	}
	body {
		padding: 0 !important
	}
	.carousel {
		margin-bottom: 0;
		
	}
	.hero-unit {
		padding-bottom: 60px
	}
	.hero-unit p {
		font-size: 16px
	}
}

.item img {
	margin: 0 auto;

}

.carousel-inner {
	
	margin: 0 auto;
} 

#myCarousel .carouselnav a small {
	display: block;
}

#myCarousel .carouselnav {
	background: #21074f;
	background: #fcb12f;
	overflow-y: hidden;
	transition: 0.5s;
}

#myCarousel .carouselnav :hover {
	background: #fcb12f;
	background: #21074f;
	overflow-y: hidden;
	transition: 0.5s;
}


.carouselnav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    position: absolute;
    bottom: 0;
} 
.error {
	color: red;
}