footer {
	font-size: 12px;
	text-align: center;
	padding-top: 10%;
}
#signupbutton {
	width: 50%;
	height: 34px;
}

.signin {
	color: white;
}

.signin:hover {
	font-weight: bold;
	color: white;
}

.registrationbox{
	padding-left: 10%;
	padding-right: 10%;
}

.registrationpage h2 {
	padding-left: 5%;
}