.hBox {
	color: white;
	font-size: 38px;
	padding: 15px;
}

.tBox {
	color: white;
	padding: 100px;
	background-color: #21074F;
}

.homeimg {
	position: relative;
	bottom: 2px;
	background-size: 100% 100%;
	overflow: hidden;
}

.buttoncolor {
	background-color: #OOA531;
	
}

.w3-ul li{
	margin: 0;
	padding:0;
}

.homepageboxes {
	/* background-image: url("../img/subway.jpg");
	background-size: 100% 100%;
	background-position: center; */
}